<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="color: red;">{{.}}</h2>
    <form action="/handleRegister" method="post">
        username :
        <input type="text" name="name" id="">
        <br>
        email :

        <input type="email" name="email" id="">
        <br>
        password :
      
        <input type="password" name="password" id="">
        <button type="submit">seri t9wdi</button>
    </form>
</body>
</html>